# Configuración general
SECRET_KEY=clave_secreta_super_segura_de_produccion
FLASK_ENV=production

# Base de datos (Opción A: Por separado)
DB_USER=postgres
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Rossmix

# Base de datos (Opción B: URL Completa - Recomendado para Render/Heroku)
# DATABASE_URL=postgresql+psycopg://usuario:password@host:port/database

# Configuración de Correo (Flask-Mail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion
MAIL_DEFAULT_SENDER=noreply@rossmix.com
