Flask==2.3.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.36
Werkzeug==2.3.7
psycopg[binary]==3.3.4
openpyxl==3.1.2
reportlab==4.2.5
python-dotenv==1.0.1
Flask-Mail==0.10.0
Flask-WTF==1.1.1
Flask-Caching==2.4.1
gunicorn==21.2.0
python-docx==1.1.2
email-validator==2.3.0
python-dateutil==2.9.0.post0
